@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.25s;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}

button,
a,
li {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.signature {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
}
